body{
  margin: 0;
  padding: 0;
}

.info{
  width: 90%;
  margin: 70px auto 0;
  background-color: white;
  box-shadow: 0 0 50px 10px yellow inset;
}

.IC{
  text-align: center;
  padding-top: 5%;
  padding-bottom: 1%;
}

.IC_poza_text{
  display: flex;
  width: 90%;
  justify-content: space-around;
  padding-bottom: 10%;
}
.IC_poza{
  display: flex;
  justify-content: center;
  align-items: center;
}

.IC_poza img{
  display: block;
  width: 60%;
  height: auto;
}
.IC_text{
  width: 45%;
}


@media screen and (max-width: 800px){
  .IC_poza_text{
    flex-wrap: wrap;
  }
  .IC_poza{
    width: 100%;
  }
  .IC_text{
    width: 80%;
  }
}