body{
    background-image: linear-gradient(360deg, lightgreen, #80d4ff); 
    padding: 50px;
}
.div_tabel{
    border: 3px solid red;
    align-content: center;
    margin: 0 auto;
    width: 100%;
}
table, td, th{
    border: 1px solid black;
}
table, tr, th{
    font-size: 20px;
}
.caracteristici_style {
    font-size: 21px;
}
.caracter_img{
    width: 40%;
    height: auto;
}


@media (max-width: 600px){
    .caracter_img{
        width: 100%;
        height: auto;
    }
    body{
        padding: 10px;
    }
    
}